{{> header_nav}}

<div class="container" id="feed-main">
  <div class="row justify-content-between">
    <!-- Left column -->
    {{> sidenav}}
    <!-- Create post -->
    <div class="col-8">
      <div class="container-box-feed mb-3">
        <div class="button-container ">
          <a href="/create-post" class="btn create-post-button" style="background-color: #304fb6; color: white;">
            <i class="bi bi-plus-circle"></i> Create Post
          </a>
        </div>
      </div>

      <!-- Posts -->
      {{#each post_data}}
<div class="container-box-feed" id="postbox">
  <div class="content-feed">
    <!--Author and Time Posted-->
    <div class="post-feed">
      <div class="user-avatar">
        <img src="{{authorImg}}" alt="avatar" class="user-avatar" />
      </div>
      <div class="post-content">
        <p class="username">{{author}}</p>
        <p class="time">Posted {{postDate}}</p>
      </div>
    </div>
    <!--Post Body-->
    <h1>{{postTitle}}</h1>
    <img src="{{postImg}}" alt="Post Image" class="post-image" />
    <br/>
    <!--Tags-->
      {{#each postTags}}
            <button class="post-tag">{{this}}</button>
          {{/each}}
    <div class="post-actions">
      <!--Votes-->
      <div class="button-container">
        <button class="hollow-button upvote-btn" data-post-id={{_id}}>
          <i class="bi bi-arrow-up"></i>
          <span class="upvotes">{{postUp}}</span>
        </button>
      </div>
      <div class="button-container">
        <button class="hollow-button downvote-btn" data-post-id={{_id}}>
          <i class="bi bi-arrow-down"></i>
          <span class="downvotes">{{postDown}}</span>
        </button>
      </div>
      <!--Expand post-->
      <div class="button-container">
        <a href="/post-page">
          <div class="button">
            <i class="bi bi-chat-dots"></i>
            <span class="comments">{{postComCount}}</span>
          </div>
        </a>
      </div>
      <!--Bookmark-->
      <div class="button-container">
        <div class="button">
          {{#if postSaved}}
          <i class="bi bi-bookmark-fill"></i>
          {{else}}
          <i class="bi bi-bookmark"></i>
          {{/if}}
        </div>
      </div>
      <div class="button-container">
        <div class="button">
          <i class="bi bi-share"></i>
        </div>
      </div>
    </div>
  </div>
</div>


{{/each}}

    </div>
      {{> sidebar1}}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


<script>
  $(document).on("click", ".upvote-btn", function () {
    const postId = $(this).data("post-id");
    $.post("/upvote", { postId: postId }, function (data) {
      if (data.success) {
        $.get(`/post/${postId}`, function (postData) {
          if (postData.success) {
            const post = postData.post;
            $(`.upvote-btn[data-post-id='${postId}'] .upvotes`).text(post.postUp);
            $(`.downvote-btn[data-post-id='${postId}'] .downvotes`).text(post.postDown);
            
          } else {
            console.error("Failed to load post data:", postData.message);
          }
        }).fail(function () {
          console.error("Error occurred while fetching the post data");
        });
      } else {
        console.error("Failed to upvote post:", data.message);
      }
    }).fail(function () {
      console.error("Error occurred while making the upvote request");
    });
  });
</script>

