{{!-- pages/saved-pages.hbs --}}

<div class="saved-pages">
{{#each posts}}
<article class="post" data-post-id="{{this._id}}">
    <div class="post-header">
        <div class="post-user">
            <img src="{{this.user.avatar}}" alt="{{this.user.username}}" class="avatar small">
            <span class="username">{{this.user.username}}</span>
            <span class="time">{{formatDate this.createdAt}}</span>
        </div>
    </div>
    <h2 class="post-title"><a href="/post/{{this._id}}">{{this.title}}</a></h2>
    <div class="post-content-preview">
        {{{truncateHtml this.content 150}}}
    </div>
    {{#if this.image}}
    <img src="{{this.image}}" alt="Post image" class="post-image">
    {{/if}}
    <div class="post-tags">
        {{#each this.tags}}
        <span class="tag">{{this}}</span>
        {{/each}}
    </div>
    <div class="post-stats">
        <div class="post-stats-left">
            <button class="btn-icon upvote-btn {{#if (eq this.userVote 'upvote')}}active{{/if}}" data-post-id="{{this._id}}">
                <span class="material-icons">arrow_upward</span> 
                <span class="upvote-count">{{this.upvotes.length}}</span>
            </button>
            <button class="btn-icon downvote-btn {{#if (eq this.userVote 'downvote')}}active{{/if}}" data-post-id="{{this._id}}">
                <span class="material-icons">arrow_downward</span>
            </button>
            <button class="btn-icon">
                <span class="material-icons">comment</span> 
                {{this.comments.length}}
            </button>
        </div>
        <div class="post-stats-right">
            <button class="btn-icon bookmark-btn active" data-post-id="{{this._id}}">
                <span class="material-icons">bookmark</span>
            </button>
            <button class="btn-icon share-btn" data-post-id="{{this._id}}">
                <span class="material-icons">share</span>
            </button>
        </div>
    </div>
</article>
{{/each}}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    initializeVoting();
    initializeBookmarking();
});
</script>